{% extends 'navbar.html' %}
{% block contentmain %}
<body id="body-eren">



    <div class="top-bar">
        <div id="logo"> <p>Logo Here</p> </div>
        <div class="top-buttons"> <p>Buttons Here</p> </div>
    </div>




    <div class="variance-part">
        <div class="side-bar">
            <ul>
                <li><a href="/statistics">Statsa git</a></li>
                <li><a href="/personel">Personele git</a></li>
                <li>Milk</li>
            </ul>
        </div>



        <div class="content">
            <p>Penguins (order Spheniscifoos penr. Highly adnd flippe

                {% block contentsub %}

                {% endblock %}
            </p>
        </div>
    </div>

</body>
{% endblock %}