{% extends 'basee.html' %}
{% block title %} Statistics {% endblock %}

{% block contentsub %}


    <img style="margin:3%; width:400px; height:300px;" src="{{url_for('static', filename='test_image.png')}} "/><br>
    <img style="margin:3%; width:400px; height:300px;" src="{{url_for('static', filename='Pie.png')}} "/> <br>
    <img style="margin:3%; width:400px; height:300px;" src="{{url_for('static', filename='Plot.png')}} " /><br>
    <img style="margin:3%; width:400px; height:300px;" src="{{url_for('static', filename='Bar.png')}} " /><br>


{% endblock %}